<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Game Store</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h1>The Game Store</h1>
    </header>
    <main>
        @RenderBody()
    </main>

    <footer>
        <h5>&copy; 2021 - The Game Store</h5>
    </footer>
</body>
</html>
