/*Basic Style info for the header and footer elements*/
header {
    background-color: blue;
    color: white;
    border: 0;
    padding: 10px;
}

footer {
    background-color: rgb(230, 230, 230);
}

footer h5 {
    text-align: center;
}

/*Make the h1 element in the header act like an inline element*/
header h1{
    display: inline;
}

/*Eliminate the margins around the <h1> element and the <body> element.*/
header h1, body {
    margin: 0;
}

/*Styles for widgets in page header*/
.Widget {
    float: right;
    height: 40px;
    width: 7em;
    text-align: center;
}

.Widget p {
    vertical-align: bottom;
}
header a {
    color: white;
}

/*Styles for various overlays.*/
/*Overlay class*/
.Overlay {
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index:1000;
    background-color: rgba(120,120,120, 0.5);
}

/*The main sign in box */
section.SignIn {
    margin: 15% auto auto auto;
    padding: 20px;
    background-color: white;
    width: fit-content;
}

/*Center the sign in buttons inside their div.*/
div.CenterButtons {
    text-align: center;
}

div.CenterButtons button {
    margin-left: 5px;
    margin-right: 5px;
}

/*Center the text for creating an account*/
td.SignIn {
    text-align: center;
}